
body {
    margin: 0 auto;
    text-shadow: 1px 1px black;
    color: white;
    background-color: #2C2C2C; /* Grey color */
}
      

/* ýmislegt */    
.center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.my-horizontal-line {
    color: black;
    background-color: black;
    height: 2px;
}

.container {
    background-color: #2C2C2C;
}
.hide-form form {
    display: none;
}
  
.hide-form #message {
display: block;
}

.fit-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .fit-text label {
    font-size: 100%; /* Initial font size */
  }
  
  @media (max-width: 576px) {
    .fit-text label {
      font-size: 80%; /* Decrease font size for smaller screens */
    }
  }
  

  .form-control:focus {
    outline-color: red; /* Replace 'red' with your desired color */
  }
  