/*----- Ýmislegt -----*/

/* Texta skuggi */
.my-text-shadow {
  text-shadow: 2px 2px 30px var(--bs-gray-500);
}
/* Passar uppá að texti sé í einni línu */
.nowrap {
  white-space: nowrap;
}
/* Miðja texta og items */
.center {
  text-align: center;
  align-items: center;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
.my-horizontal-line {
  color: rgb(224, 202, 202);
  border-top: 3px solid rgb(221, 193, 193);
}

/* Body taggið */
body {
  margin: 0 auto;
  text-shadow: 2px 2px 50px var(--bs-gray-500);
  background: linear-gradient(to bottom, #07030a, #2e343b);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 /*  background: linear-gradient(to bottom, #1a1330, #495057); */
  /* background: linear-gradient(to bottom, #1a1330, #212121);  */ /* Þessi var ágætur */
/* 
  color: white;
  background-size: 100%;
*/
}

/* ýta sidebar aðeins til hliðar */
.mittmargin {
  margin-left: 2vw;
}
/* Ef skjárinn er minni en LG stærð þá breytist margin í 0 */
@media (max-width: 991.98px) {
  .mittmargin {
    margin-left: 0;
  }
}
.mythumbnail {
  max-width: 20vw;
  max-height: 20vw;
  width: auto;
  height: auto;
}
/* stillingar á background í sidebar */
.backgroundsidebar {
  position: relative;
  width: 12vw;
  border-radius: 100px 100px 60px 60px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  background-image: url("../img/backgroundsidebar.jpg");
  background-size: cover;
  /* núlla allt margin, padding og border - override bs settings */
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  border-right: none !important;
  border-left: none !important;
}

.sidebar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --bs-bg-opacity: 0.8;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}



/* Litir sóttir úr navbar dark í sass.css */
.sidebar-colors .nav-link {
  color: rgba(255, 255, 255, 0.55);
}
.sidebar-colors .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}
.sidebar-colors .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}
.sidebar-colors .nav-link.active {
  color: #fff;
}
.sidebar-colors .navbar-brand {
  color: #fff;
}
.sidebar-colors .navbar-brand:hover {
  color: #fff;
}
.sidebar-colors .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}
.sidebar-colors .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


/* ---------- Navbar ----------- */
/* sótt úr sass.css til að breyta */
.navbar-brand {
  align-items: center;
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: 0;
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
}

.navbar-brand .bi {
  color: var(--bs-gray-500);
}

.navbar-expand-lg {
  flex-wrap: nowrap; /* Prevent navbar items from wrapping */
}

.nav-link.btn.btn-outline-secondary.rounded-pill {
  padding: 0.5vw; /* or 1rem for rem units */
  font-size: 1vw; /* or 1.5rem for rem units */
  border: 0.5px solid grey;
  backdrop-filter: blur(3px);
}

.bi {
  align-items: start;
  justify-content: start;
  text-align: left;
}




  /* ------------------------- Hér er allt innan index.php síðunnar ----------------------------------------- */

/* --------- MY CONTENT SETTINGS - CARD & TABLE DISPLAY */

/* --------- MÍNAR STILLINGAR Á TABLE OG CARD HEADER ----------- */
/* puts card header display on top */
.card-header {
  z-index: 5;
}
/* move card body up - below the card header */
.card-body {
  margin-top: -25px;
}
/* Card header border radius */
.minnborderradius {
  border-radius: 40px 40px 12px 12px !important;
  width: 100%;
  height: 100%;
  padding: 0.3vw;
  margin-bottom: -10px;
  font-size: 22px;
  /*  border-bottom: transparent !important;  */
}
.borderradius {
  border-radius: 40px 40px 40px 40px !important;
}
.table {
  margin-bottom: 0px;
}
/* Scrollable table og border radius utan um table (card body) */
 .table-responsive {
     overflow-x: auto;
     border-radius: 30px 30px 4px 4px;
     border-color: var(--bs-dark-border-subtle) !important;
 }
 .mytable {
     width: 100%;
     align-items: center;
     justify-content: center;
 }
 .mytable table {
     table-layout: fixed;
     min-width: 1000px;
 }
 .mytable th,
 .mytable td {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }
 .mytable .last-column {
     white-space: normal;
     overflow: visible;
 }
 .mytable td:last-child {
  white-space: nowrap;
  overflow: visible;
  text-overflow: clip;
}

/* Stærðirnar á columns í table */
 .first-column {
     width: 5%;
 }
 .name-column {
     width: 10%;
 }
 .email-column {
     width: 20%;
 }
 .action-column {
  width: 23%;
 }
.other-column {
  width: 20%;
  text-overflow: ellipsis;
}

/* Orders table í orders.php */
/* .orders-action-column {
  width: 12%;
} */

/* Custom styles for buttons in the action-column */
.orders-action-column {
  width: fit-content; /* Set the desired width for the buttons */
  margin-right: 5px; /* Optional: Add some spacing between buttons */
}


.custom-btn {
  width: 100%; /* Set the desired width for the buttons */
}

/* Media query for small screens - adjust the width as needed */
@media (max-width: 768px) {
  .orders-action-column .custom-btn {
    width: 100%; /* Adjust the width for small screens */
  }
}








/* NÁÐ Í ÚR SASS.CSS TIL AÐ SJÁ LITINA Á TABLE-DARK */
.table-dark {
  --bs-table-color: #fff;
  --bs-table-bg: #212529;
  --bs-table-border-color: #373b3e;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}
/* NÁÐ Í ÚR SASS.CSS TIL AÐ SJÁ CARD EIGINLEIKANA */
.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-clip: border-box;
  /* background-color: var(--bs-card-bg); */
  /* border: var(--bs-card-border-width) solid var(--bs-card-border-color); */
  background-color: transparent; /* MY MODIFICATION */
  border: none; /* MY MODIFICATION */
  border-radius: 20px;       /* var(--bs-card-border-radius); */
}


/* --------- er ekki að nota í augnablikinu ----------*/
/* ---------- OUTLINED TEXT ??? ekki virkt --------- */

/*  
.justify-content {
  justify-content: center;
  display: flex; 
  justify-content: center; 
} 
 */


/* Safari compatibility WEBKIT-TEXT-FILL-COLOR */
/* 
.outlined-text {
  -webkit-text-fill-color: transparent; 
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-shadow: 0 0 2px #000;
}
 */
/* 
.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding: 20px;
  margin-left: 100px;
  margin-left: 220px;
}
 */
/* 
#adminUsersCol,
#usersListCol {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 */
/* 
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .content {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
 */
/* 
.panel-body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .panel-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
 */
/* Minn eigin sidebar css style */
/* 
.sidebar {
  position: absolute;
  top: 15%;
  left: 2%;
  bottom: 25%;

  height: fit-content;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 */
/*  
 .sidebar {
  width: 100%; 
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 */
 
/* Þessi er ekki í notkun í augnablikinu sem prufa */
/* Þessi geymir table structure sem inniheldur svo gögnin úr database */
/* 
.fixed-container {
  position: relative;
  display: flex;
  flex-direction: column; 
 */
  /* z-index: -1; */ /* Set a high z-index to ensure it appears above other elements */
 /*  border-radius: 25%; */ /* Set the desired border radius for rounded corners */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */ /* Add a box shadow for a subtle effect */
  /* top: 25%; *//* Adjust the top position as needed */
  /* left: 22%; */  /* Adjust the left position as needed */
/* } */
/* 
.container-fluid.backgroundsidebar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
 */
/*  
.sidebar.sidebar-colors {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
 */

/* 
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
*/


/* ----- ýmsar skipanir sem ég tími ekki eyða -----  */
/* 
.center {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  flex-wrap: wrap; 
}
*/
/* backdrop-filter: blur(4px); */
/*  background-size: cover; */
/*  background-blend-mode: multiply; */

/* ýmislegt sem var ekki að virka í body */  
    /* background-color: var(--bs-gray-900);   */
    /* background-color: transparent; */
    /* background-repeat: repeat-x; */
    /* background-size: auto; */
    /* background-image: url('img/background-image.jpg');  */ /* Replace with your image path */
    /* background-size: cover;  */  /* Ensure the background image covers the entire body */
    /* background-blend-mode: multiply; */   /* Blend the background image and color */

/* virkar ekki í augnablikinu */


/* Þetta virðist ekki virka. ég set bakgrunnsmyndina inn í body tag í htmlinu */
/* 
.background {
    background-image: url('img/background-image.jpg');
}
*/

/* 
.container-fluid {
  background-color: transparent;
  background-image: url('img/backgroundsidebar.jpg') !important;
  background-size: cover;
  background-blend-mode: multiply;
}
*/
/* 
.container-fluid {
  position: absolute;
  top: 25%;
  left: 6%;
  bottom: 25%;
  right: 6%;
  border-radius: 25%; 
  overflow: hidden; 
}
*/
/* 
.background-image {
  background-image: url('img/backgroundsidebar.jpg'); 
  background-size: cover;
  background-blend-mode: multiply; 
}
 */
 
/* Blur á bakgrunn á navbar expand */
/* 
.navbar-expand-lg {
  backdrop-filter: blur(4px);
}
 */
/* 
  .table-responsive-custom {
    overflow-x: auto;
  }

  .table-responsive-custom table {
    width: 100%;
    table-layout: fixed;
  }

  @media (max-width: 576px) {
    .table-responsive-custom table {
      width: 100%;
    }
  }

  @media (min-width: 577px) and (max-width: 768px) {
    .table-responsive-custom table {
      width: 120%;
    }
  }

  @media (min-width: 769px) and (max-width: 992px) {
    .table-responsive-custom table {
      width: 130%;
    }
  }

  @media (min-width: 993px) {
    .table-responsive-custom table {
      width: 140%;
    }
  } */

